{
    "autopay": {
        "merchantID": "123456",
        "clientID": "given at completion registration process",
        "clientSecret": "36(max)-chars of client secret",
        "privateKey": ""
    }
}